<div class="col-md-12 mt-3 text-right">
    <a class="btn btn-primary" routerLink="/logger/new">
        Add new log event
    </a>
</div>

<div class="card mt-3">
    <div class="card-header">Overview</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Type</th>
                    <th>Message</th>
                    <th>User ID</th>
                    <th>Transaction ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events; let i=index;">
                    <td>{{ i+1}}</td>
                    <td>{{ event.id }}</td>
                    <td>{{ event.timestamp }}</td>
                    <td [ngClass]="{'bg-info': event.type === 'INFO', 'bg-warning': event.type === 'WARNING'}">{{ event.type }}</td>
                    <td>{{ event.message }}</td>
                    <td>{{ event.user_id }}</td>
                    <td>{{ event.transaction_id }}</td>
                    <td>
                        <a class="btn btn-outline-primary">View</a>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-outline-secondary" [routerLink]="['/logger',event.id]">Edit</a>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-outline-danger" (click)="deleteEvent(event.id!)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>